@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body .contenedor_ppal {
  max-width: 100%;
  min-height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  justify-items: center;
  background-image: linear-gradient(to bottom, #ffffff, #BF8FC4);
}
body .contenedor_ppal header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 56px;
  padding: 0 2em;
  background-color: rgba(255, 255, 255, 0.5411764706);
  box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.2352941176);
  backdrop-filter: blur(2.5px);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 5;
}
body .contenedor_ppal header .header-icons {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
body .contenedor_ppal header .header-icons .navbar-desktop {
  display: none;
}
body .contenedor_ppal header .header-icons .navbar-desktop a {
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 400;
  color: #000000;
}
@media screen and (min-width: 992px) {
  body .contenedor_ppal header .header-icons .navbar-desktop {
    display: flex;
    align-items: center;
    gap: 2em;
  }
}
@media screen and (min-width: 650px) {
  body .contenedor_ppal header .header-icons {
    width: 80%;
  }
}
body .contenedor_ppal header img {
  max-width: 5em;
}
@media screen and (min-width: 992px) {
  body .contenedor_ppal header img {
    max-width: 8em;
  }
}
@media screen and (min-width: 992px) {
  body .contenedor_ppal header {
    height: 64px;
  }
}
body .contenedor_ppal header img {
  width: 10em;
  cursor: pointer;
}
body .contenedor_ppal header .navbar .nav-toggle {
  border: none;
  background-color: transparent;
  color: #4c4c4c;
}
body .contenedor_ppal header .navbar span {
  font-size: 1.2em;
}
body .contenedor_ppal header .navbar .contain-navbar {
  width: 100%;
  opacity: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  right: -100%;
  top: 0;
  position: fixed;
  text-align: end;
  padding: 4em 2em 2em;
  color: #000000;
  background-color: #BF8FC4;
  box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.2352941176);
  text-decoration: none;
  transition: right 0.4s ease-in-out, opacity 0.4s ease-in-out;
  pointer-events: none;
}
body .contenedor_ppal header .navbar .contain-navbar .info-navbar {
  text-align: start;
  display: flex;
  flex-direction: column;
}
body .contenedor_ppal header .navbar .contain-navbar .info-navbar .logo-navbar {
  max-width: 75%;
}
body .contenedor_ppal header .navbar .contain-navbar .info-navbar .icons-navbar {
  display: flex;
  gap: 0.3em;
  align-items: center;
}
body .contenedor_ppal header .navbar .contain-navbar .info-navbar .icons-navbar img {
  width: 1em;
  opacity: 0.7;
}
body .contenedor_ppal header .navbar .contain-navbar .info-navbar .p-navbar p {
  font-size: 0.7em;
  margin-bottom: 0;
  line-height: normal;
}
body .contenedor_ppal header .navbar .contain-navbar .nav-links {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin-bottom: 0;
}
body .contenedor_ppal header .navbar .contain-navbar .nav-links li {
  list-style: none;
  line-height: 1em;
}
body .contenedor_ppal header .navbar .contain-navbar .nav-links li a {
  text-decoration: none;
  font-size: 1em;
  font-family: Roboto;
  font-weight: 400;
  color: #000000;
}
body .contenedor_ppal header .navbar .contain-navbar .nav-links li button {
  font-family: Roboto;
  font-size: 1.1em;
  color: #000000;
  background-color: transparent;
  border: none;
  box-shadow: 1px 1px 1px #121212;
  border-radius: 50%;
  padding: 0.3em 0.5em;
  cursor: pointer;
}
@media screen and (min-width: 992px) {
  body .contenedor_ppal header .navbar .contain-navbar {
    justify-content: space-around;
  }
}
body .contenedor_ppal header .navbar .contain-navbar.active {
  right: 0;
  opacity: 1;
  pointer-events: auto;
}
@media screen and (min-width: 992px) {
  body .contenedor_ppal header .navbar {
    display: none;
  }
}
body .contenedor_ppal main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  align-items: center;
  gap: 5em;
  padding: 5em 0;
  padding-top: 56px;
  text-align: center;
}
@media screen and (min-width: 650px) {
  body .contenedor_ppal main {
    width: 90%;
  }
}
body .contenedor_ppal main .inicio {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  padding: 2em 0em 0em;
  width: 100%;
}
body .contenedor_ppal main .inicio h1 {
  font-family: Playfair;
  font-style: italic;
  font-weight: 400;
  line-height: 90%;
  font-size: 1.5em;
  padding: 0 2em;
}
@media screen and (min-width: 992px) {
  body .contenedor_ppal main .inicio h1 {
    font-size: 2em;
  }
}
body .contenedor_ppal main .inicio img {
  width: 90%;
}
body .contenedor_ppal main .inicio video {
  width: 100%;
}
body .contenedor_ppal main .inicio p {
  font-size: 14px;
  padding: 0 2em;
  margin-bottom: 0;
}
@media screen and (min-width: 992px) {
  body .contenedor_ppal main .inicio p {
    width: 70%;
  }
}
body .contenedor_ppal main .direccion {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  gap: 2em;
}
body .contenedor_ppal main .direccion h2 {
  font-family: Plafair;
  font-style: normal;
  font-weight: 400;
  line-height: 50%;
  font-size: 1.5em;
  padding-bottom: 0.5em;
  padding-bottom: 0;
  margin-bottom: 0;
  scroll-margin-top: 130px;
}
body .contenedor_ppal main .direccion p {
  font-size: 14px;
  width: 90%;
  margin-bottom: 0;
}
@media screen and (min-width: 992px) {
  body .contenedor_ppal main .direccion p {
    width: 70%;
  }
}
body .contenedor_ppal main .direccion .cont-imgs-direc {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  /*Mediaqueries container de imgs de directoras*/
}
body .contenedor_ppal main .direccion .cont-imgs-direc .contain-img-btnvermas {
  position: relative; /* ¡Fundamental! Es la base del botón */
  width: fit-content; /* El contenedor se ajusta al tamaño de la imagen */
  overflow: hidden; /* Por si quieres efectos de bordes redondeados */
}
body .contenedor_ppal main .direccion .cont-imgs-direc .contain-img-btnvermas .img-direc {
  display: block;
  max-width: 100%;
  height: auto;
}
body .contenedor_ppal main .direccion .cont-imgs-direc .contain-img-btnvermas .capa-texto {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5em 0.5em 1.5em;
  gap: 0.5em;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease;
}
body .contenedor_ppal main .direccion .cont-imgs-direc .contain-img-btnvermas .capa-texto.activo {
  opacity: 1;
  visibility: visible;
}
body .contenedor_ppal main .direccion .cont-imgs-direc .contain-img-btnvermas .capa-texto p {
  width: 95%;
  font-style: normal;
  font-size: 10px;
  text-wrap: balance;
  line-height: normal;
  margin-bottom: 0;
}
@media screen and (min-width: 410px) {
  body .contenedor_ppal main .direccion .cont-imgs-direc .contain-img-btnvermas .capa-texto p {
    width: 90%;
    max-width: 90%;
    font-size: 11px;
  }
}
@media screen and (min-width: 500px) {
  body .contenedor_ppal main .direccion .cont-imgs-direc .contain-img-btnvermas .capa-texto p {
    font-size: 12px;
    line-height: inherit;
  }
}
@media screen and (min-width: 992px) {
  body .contenedor_ppal main .direccion .cont-imgs-direc .contain-img-btnvermas .capa-texto p {
    font-size: 10px;
    line-height: normal;
  }
}
body .contenedor_ppal main .direccion .cont-imgs-direc .contain-img-btnvermas .capa-texto .btn-cerrar-overlay {
  z-index: 2;
  position: absolute;
  right: 1.5em;
  bottom: 0.8em;
  font-family: Roboto;
  font-size: 1em;
  color: #ffffff;
  background-color: transparent;
  border: none;
  box-shadow: 1px 1px 1px #fff;
  border-radius: 50%;
  padding: 0.1em 0.6em;
  cursor: pointer;
}
@media screen and (min-width: 650px) {
  body .contenedor_ppal main .direccion .cont-imgs-direc .contain-img-btnvermas .capa-texto .btn-cerrar-overlay {
    right: 2em;
    bottom: 1.5em;
  }
}
body .contenedor_ppal main .direccion .cont-imgs-direc .contain-img-btnvermas .btn-vermas {
  position: absolute;
  bottom: 4%;
  right: 5%;
  padding: 0.1em 0.3em;
  color: #BF8FC4;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
  border-radius: 50px;
}
@media screen and (min-width: 992px) {
  body .contenedor_ppal main .direccion .cont-imgs-direc {
    flex-direction: row;
    width: 90%;
  }
}
body .contenedor_ppal main .docentes {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1em;
  gap: 2em;
}
body .contenedor_ppal main .docentes h2 {
  scroll-margin-top: 130px;
  font-family: Plafair;
  font-style: normal;
  font-weight: 400;
  line-height: 50%;
  font-size: 1.5em;
  padding-bottom: 0.5em;
}
body .contenedor_ppal main .docentes .contain-profes {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2.5em;
  align-items: center;
  padding: 0 1em;
}
body .contenedor_ppal main .docentes .contain-profes .profe {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
}
@media screen and (min-width: 992px) {
  body .contenedor_ppal main .docentes .contain-profes .profe img {
    width: 100%;
  }
}
body .contenedor_ppal main .docentes .contain-profes .profe .profe-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .contenedor_ppal main .docentes .contain-profes .profe .profe-info p {
  font-family: Roboto;
  font-size: 10px;
  text-wrap: balance;
  margin-bottom: 0;
}
body .contenedor_ppal main .docentes .contain-profes .profe .profe-info p:nth-child(1) {
  font-weight: 600;
  font-size: 14px;
}
body .contenedor_ppal main .docentes .contain-profes .profe .profe-info p:nth-child(2) {
  color: rgb(45, 45, 45);
}
body .contenedor_ppal main .docentes .contain-profes .profe .profe-info p:nth-child(3) {
  margin-top: 1em;
  font-size: 11px;
}
@media screen and (min-width: 500px) {
  body .contenedor_ppal main .docentes .contain-profes .profe .profe-info p:nth-child(3) {
    font-size: 12px;
  }
}
@media screen and (min-width: 375px) {
  body .contenedor_ppal main .docentes .contain-profes .profe .profe-info {
    align-items: start;
  }
}
@media screen and (min-width: 650px) {
  body .contenedor_ppal main .docentes .contain-profes .profe .profe-info {
    max-width: 100%;
  }
}
@media screen and (min-width: 375px) {
  body .contenedor_ppal main .docentes .contain-profes .profe {
    flex-direction: row;
    text-align: start;
    align-items: start;
  }
}
@media screen and (min-width: 992px) {
  body .contenedor_ppal main .docentes .contain-profes .profe {
    flex-direction: column;
    width: calc(50% - 1.5em);
  }
}
@media screen and (min-width: 992px) {
  body .contenedor_ppal main .docentes .contain-profes {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5em;
    align-items: flex-start;
    justify-content: center;
    width: 60%;
  }
}
body .contenedor_ppal main .form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  padding: 0;
}
body .contenedor_ppal main .form .form_title {
  text-align: center;
}
body .contenedor_ppal main .form .form_title h3 {
  font-style: italic;
  font-family: Playfair;
  font-weight: 400;
  font-size: 1.4em;
}
@media screen and (min-width: 992px) {
  body .contenedor_ppal main .form .form_title h3 {
    font-size: 2em;
  }
}
body .contenedor_ppal main .form .form_title p {
  font-family: Roboto;
  font-size: 0.6em;
  font-style: italic;
}
@media screen and (min-width: 992px) {
  body .contenedor_ppal main .form .form_title p {
    font-size: 1em;
  }
}
body .contenedor_ppal main .form .chat {
  background-color: #ffffff;
  padding: 0.5em 0.8em;
  border-radius: 12px;
}
body .contenedor_ppal main .form .chat a {
  cursor: pointer;
  text-decoration: none;
}
body .contenedor_ppal main .form .chat a button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  border: none;
  background-color: transparent;
}
body .contenedor_ppal main .form .chat a button p {
  font-family: Roboto;
  margin-bottom: 0;
  font-weight: 600;
}
body .contenedor_ppal footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  padding: 2em;
  color: #ffffff;
  background-color: #000000;
}
body .contenedor_ppal footer .contain-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 2em;
}
@media screen and (min-width: 410px) {
  body .contenedor_ppal footer .contain-footer {
    width: 90%;
  }
}
@media screen and (min-width: 500px) {
  body .contenedor_ppal footer .contain-footer {
    width: 85%;
  }
}
@media screen and (min-width: 650px) {
  body .contenedor_ppal footer .contain-footer {
    width: 70%;
  }
}
@media screen and (min-width: 992px) {
  body .contenedor_ppal footer .contain-footer {
    width: 60%;
  }
}
body .contenedor_ppal footer .contain-footer .logos_footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.3em;
}
body .contenedor_ppal footer .contain-footer .logos_footer a {
  color: #ffffff;
  text-decoration: none;
  font-family: Roboto;
  font-weight: 400;
  font-size: 0.8em;
}
@media screen and (min-width: 500px) {
  body .contenedor_ppal footer .contain-footer .logos_footer a {
    font-size: 1em;
  }
}
body .contenedor_ppal footer .contain-footer .info_footer {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 992px) {
  body .contenedor_ppal footer .contain-footer .info_footer {
    gap: 0.3em;
  }
}
body .contenedor_ppal footer .contain-footer .info_footer .redes_footer {
  display: flex;
  gap: 0.3em;
}
@media screen and (min-width: 992px) {
  body .contenedor_ppal footer .contain-footer .info_footer .redes_footer {
    gap: 0.8em;
  }
}
@media screen and (min-width: 992px) {
  body .contenedor_ppal footer .contain-footer .info_footer .redes_footer img {
    width: 1.5em;
  }
}
body .contenedor_ppal footer .contain-footer .info_footer p {
  font-size: 0.6em;
  font-family: Roboto;
  font-weight: 400;
  margin-bottom: 0;
}
@media screen and (min-width: 500px) {
  body .contenedor_ppal footer .contain-footer .info_footer p {
    font-size: 0.8em;
  }
}

/*# sourceMappingURL=index.css.map */
