@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body .contenedor_ppal {
  max-width: 100%;
  min-height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  justify-items: center;
  background-image: linear-gradient(to bottom, #ffffff, #BF8FC4);
}
body .contenedor_ppal header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  height: 64px;
  padding: 0 2em;
  background-color: rgba(255, 255, 255, 0.5411764706);
  box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.2352941176);
  backdrop-filter: blur(2.5px);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 5;
}
body .contenedor_ppal header img {
  max-width: 5em;
}
body .contenedor_ppal header img {
  width: 10em;
  cursor: pointer;
}
body .contenedor_ppal header .navbar .nav-toggle {
  border: none;
  background-color: transparent;
  color: #4c4c4c;
}
body .contenedor_ppal header .navbar span {
  font-size: 1.2em;
}
body .contenedor_ppal header .navbar .contain-navbar {
  width: 100%;
  opacity: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  right: -100%;
  top: 0;
  position: fixed;
  text-align: end;
  background-color: #BF8FC4;
  color: #000000;
  padding: 3em 2em;
  text-decoration: none;
  transition: right 0.4s ease-in-out, opacity 0.4s ease-in-out;
  pointer-events: none;
}
body .contenedor_ppal header .navbar .contain-navbar .info-navbar {
  text-align: start;
  display: flex;
  flex-direction: column;
}
body .contenedor_ppal header .navbar .contain-navbar .info-navbar .logo-navbar {
  max-width: 75%;
}
body .contenedor_ppal header .navbar .contain-navbar .info-navbar .icons-navbar {
  display: flex;
  gap: 0.3em;
  align-items: center;
}
body .contenedor_ppal header .navbar .contain-navbar .info-navbar .icons-navbar img {
  width: 1em;
  opacity: 0.7;
}
body .contenedor_ppal header .navbar .contain-navbar .info-navbar .p-navbar p {
  font-size: 0.7em;
}
body .contenedor_ppal header .navbar .contain-navbar .nav-links {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
body .contenedor_ppal header .navbar .contain-navbar .nav-links li {
  list-style: none;
  line-height: 1em;
}
body .contenedor_ppal header .navbar .contain-navbar .nav-links li a {
  text-decoration: none;
  font-size: 1em;
  font-family: Roboto;
  font-weight: 400;
  color: #000000;
}
body .contenedor_ppal header .navbar .contain-navbar .nav-links li button {
  font-family: Roboto;
  font-size: 1.1em;
  color: #000000;
  background-color: transparent;
  border: none;
  box-shadow: 1px 1px 1px #121212;
  border-radius: 50%;
  padding: 0.1em 0.5em;
  cursor: pointer;
}
body .contenedor_ppal header .navbar .contain-navbar.active {
  right: 0;
  opacity: 1;
  pointer-events: auto;
}
body .contenedor_ppal main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  padding: 1em;
  padding-top: 64px;
  text-align: center;
}
body .contenedor_ppal main .inicio {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 1em;
  padding: 2em 1em;
  width: 100%;
}
body .contenedor_ppal main .inicio h1 {
  font-family: Playfair;
  font-style: italic;
  font-weight: 400;
  line-height: 90%;
  font-size: 1.5em;
}
body .contenedor_ppal main .inicio p {
  font-family: Roboto;
  font-weight: 300;
  line-height: 18px;
  font-size: 0.8em;
}
body .contenedor_ppal main .inicio video {
  background-color: aliceblue;
}
body .contenedor_ppal main .direccion {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  padding: 2em 1em;
}
body .contenedor_ppal main .direccion h2 {
  font-family: Plafair;
  font-style: normal;
  font-weight: 400;
  line-height: 50%;
  font-size: 1.5em;
  padding-bottom: 0.5em;
}
body .contenedor_ppal main .direccion p {
  font-family: Plafair;
  font-style: italic;
  font-weight: 400;
  font-size: 0.8em;
}
body .contenedor_ppal main .direccion .contain-img-btnvermas {
  position: relative; /* ¡Fundamental! Es la base del botón */
  width: fit-content; /* El contenedor se ajusta al tamaño de la imagen */
  overflow: hidden; /* Por si quieres efectos de bordes redondeados */
  border-radius: 12px;
}
body .contenedor_ppal main .direccion .contain-img-btnvermas .img-direc {
  display: block;
  max-width: 100%;
  height: auto;
}
body .contenedor_ppal main .direccion .contain-img-btnvermas .capa-texto {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0.8em;
  gap: 0.5em;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease;
}
body .contenedor_ppal main .direccion .contain-img-btnvermas .capa-texto.activo {
  opacity: 1;
  visibility: visible;
}
body .contenedor_ppal main .direccion .contain-img-btnvermas .capa-texto p {
  width: 95%;
  font-style: normal;
  font-size: 0.5em;
  text-wrap: balance;
}
@media screen and (min-width: 410px) {
  body .contenedor_ppal main .direccion .contain-img-btnvermas .capa-texto p {
    width: 90%;
    font-size: 9px;
    max-width: 90%;
  }
}
@media screen and (min-width: 500px) {
  body .contenedor_ppal main .direccion .contain-img-btnvermas .capa-texto p {
    font-size: 11px;
  }
}
body .contenedor_ppal main .direccion .contain-img-btnvermas .capa-texto .btn-cerrar-overlay {
  z-index: 2;
  position: absolute;
  right: 1em;
  bottom: 0.5em;
  font-family: Roboto;
  font-size: 1em;
  color: #ffffff;
  background-color: transparent;
  border: none;
  box-shadow: 1px 1px 1px #fff;
  border-radius: 50%;
  padding: 0.1em 0.5em;
  cursor: pointer;
}
body .contenedor_ppal main .direccion .contain-img-btnvermas .btn-vermas {
  position: absolute;
  bottom: 5%;
  right: 5%;
  padding: 0.3em 0.5em;
  color: #BF8FC4;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
  border-radius: 50px;
}
body .contenedor_ppal main .docentes {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 1em;
  padding: 2em 0;
}
body .contenedor_ppal main .docentes h2 {
  font-family: Plafair;
  font-style: normal;
  font-weight: 400;
  line-height: 50%;
  font-size: 1.5em;
  padding-bottom: 0.5em;
}
body .contenedor_ppal main .docentes .profe {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
body .contenedor_ppal main .docentes .profe .profe-info {
  display: flex;
  flex-direction: column;
  padding-right: 0.5em;
  gap: 0.7em;
}
body .contenedor_ppal main .docentes .profe .profe-info p {
  font-family: Roboto;
  font-size: 10px;
  text-align: start;
  text-wrap: balance;
}
body .contenedor_ppal main .docentes .profe .profe-info p:nth-child(1) {
  font-weight: 800;
}
body .contenedor_ppal main .form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  padding: 2em 0;
}
body .contenedor_ppal main .form .form_title {
  text-align: center;
}
body .contenedor_ppal main .form .form_title h3 {
  font-style: italic;
  font-family: Playfair;
  font-weight: 400;
  font-size: 1.3em;
}
body .contenedor_ppal main .form .form_title p {
  font-family: Roboto;
  font-size: 0.5em;
  font-style: italic;
}
body .contenedor_ppal main .form .text_inputs {
  width: 90%;
  display: flex;
  gap: 0.7em;
}
body .contenedor_ppal main .form .text_inputs textarea {
  width: calc(50% - 4px);
  padding: 0.3em 1em;
  border-radius: 1em;
  border: none;
}
body .contenedor_ppal main .form .text_inputs .inputs {
  display: flex;
  flex-direction: column;
  width: calc(50% - 4px);
  gap: 0.5em;
  align-items: center;
  /* Hace que el placeholder sea más claro 
  cuando el usuario hace clic */
}
body .contenedor_ppal main .form .text_inputs .inputs input {
  width: 100%;
  padding: 1em;
  border: none;
  border-radius: 1em;
  font-size: 0.5em;
}
body .contenedor_ppal main .form .text_inputs .inputs input::placeholder,
body .contenedor_ppal main .form .text_inputs .inputs textarea::placeholder {
  color: #888;
  font-style: italic;
  font-family: "Arial", sans-serif;
  opacity: 1; /* Importante para Firefox, que le baja la opacidad por defecto */
}
body .contenedor_ppal main .form .text_inputs .inputs textarea:focus::placeholder,
body .contenedor_ppal main .form .text_inputs .inputs input:focus::placeholder {
  color: transparent;
  transition: color 0.3s ease;
}
body .contenedor_ppal main .form .text_inputs .inputs button {
  font-family: Roboto;
  font-weight: 400;
  font-size: 0.5em;
  padding: 0.5em 4em;
  background-color: #000000;
  color: #ffffff;
  cursor: pointer;
  border-radius: 30px;
}
body .contenedor_ppal footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  align-items: start;
  padding: 2em;
  gap: 1em;
  color: #ffffff;
  background-color: #000000;
}
body .contenedor_ppal footer .logos_footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  justify-content: space-between;
  gap: 4em;
  width: 100%;
}
body .contenedor_ppal footer .logos_footer .info_footer {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}
body .contenedor_ppal footer .logos_footer .info_footer .redes_footer {
  display: flex;
  gap: 0.5em;
}
body .contenedor_ppal footer .logos_footer .info_footer p {
  font-size: 0.7em;
}
body .contenedor_ppal footer .secciones_footer {
  display: flex;
  flex-direction: column;
  gap: 0.1em;
}
body .contenedor_ppal footer .secciones_footer a {
  color: #ffffff;
  text-decoration: none;
  font-family: Roboto;
  font-weight: 400;
  font-size: 0.8em;
}

/*# sourceMappingURL=index.css.map */
