@mixin footer(){
    @include barra();
    flex-direction: column;
    align-items: start;
    padding: 2em;

    // width: 100%;
    gap: 1em;
    color: $blanco;
    background-color: $negro;
    .logos_footer{
        @include barra();
        justify-content: space-evenly;
        gap: 2em;
        width: 100%;
        // .logo_footer{
        // }
        .info_footer{
            display: flex;
            flex-direction: column;
            gap: .3em;
            .redes_footer{
                display: flex;
                gap: .5em;
            }
            p{
                font-size: 6px;
            }
        }
    }
    .secciones_footer{
        display: flex;
        flex-direction: column;
        gap: .1em;
        p{
            font-family: Roboto;
            font-weight: 400;
            font-size: .5em;
        }        
    }
    
}