@mixin footer(){
    @include barra();
    flex-direction: column;
    align-items: start;
    padding: 2em;

    // width: 100%;
    gap: 1em;
    color: $blanco;
    background-color: $negro;
    .logos_footer{
        @include barra();
        justify-content: space-evenly;
        // align-items: start;
        gap: 2em;
        width: 100%;
        .logo_footer{
            color: cadetblue;
            // background-color: aqua;
            // width: calc(50% - 8px); 
            // cursor: pointer;
            // background-color: rgb(33, 110, 176);
            // transform: scale(1.5);
        }
        // background-color: aquamarine;
        .info_footer{
            // background-color: orange;
            // width: calc(50% - 8px); 
            // background-color: rgb(25, 89, 145);
            display: flex;
            flex-direction: column;
            gap: .3em;
            .redes_footer{
                display: flex;
                gap: .5em;
            }
            p{
                font-size: 6px;
            }
        }
    }
    .secciones_footer{
        display: flex;
        flex-direction: column;
        gap: .3em;        
    }
}