@mixin footer(){
    @include barra();
    justify-content: center;
    padding: 2em;
    color: $blanco;
    background-color: $negro;
    .contain-footer{
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 2em;
        // Mediaquerie
        @include mobil(){
            width: 90%;
        }
        @include mobil-medium(){
            width: 85%;
        }
        @include tablet(){
          width: 70%;
        }
        @include desktop(){
          width: 60%;
        }
       .logos_footer{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: .3em;
            a{
                color: $blanco;
                text-decoration: none;
                font-family: Roboto;
                font-weight: 400;
                font-size: .8em;
                @include mobil-medium(){
                    font-size: 1em;
                }
            }
        }
        .info_footer{
            display: flex;
            flex-direction: column;
            .redes_footer{
                display: flex;
                gap: .3em;
            }
            p{
                font-size: .6em;
                font-family: Roboto;
                font-weight: 400;
                margin-bottom: 0;
                @include mobil-medium(){
                    font-size: 0.8em;
                }
            }
        }
   }
    
    // .secciones_footer{
    //     display: flex;
    //     flex-direction: column;
    //     gap: .1em;
    //     transform: translateY(-3em);
    //     a{
    //         
    //     }        
    // }
    
}