@mixin footer(){
    @include barra();
    flex-direction: column;
    padding: 2em .5em;
    gap: 1em;
    color: $blanco;
    background-color: $negro;
     .contain-footer{
      // Mediaquerie
      @include tablet(){
         width: 60%;
       }

   }
    .logos_footer{
        @include barra();
        justify-content: space-between;
        gap: 4em;
        width: 100%;
        .info_footer{
            display: flex;
            flex-direction: column;
            gap: .3em;
            .redes_footer{
                display: flex;
                gap: .5em;
            }
            p{
                font-size: .7em;
            }
        }
    }
    .secciones_footer{
        display: flex;
        flex-direction: column;
        gap: .1em;
        a{
            color: $blanco;
            text-decoration: none;
            font-family: Roboto;
            font-weight: 400;
            font-size: .8em;
        }        
    }
    
}