$alt-header: 75px;
//utilizo una variable para usar como referencia para el main
@mixin header(){
   @include barra();
   position: fixed;
   width: 100%;
   height: $alt-header;
   padding: 0 2em;
   
   border-bottom: 1px solid $rosa;
   //blur
    backdrop-filter: blur(2.5px);

   // Mediaquerie

  
}