$alt-header: 56px;
//utilizo una variable para usar como referencia para el main
@mixin header(){
   @include barra();
   justify-content: center;
   position: fixed;
   width: 100%;
   height: $alt-header;
   padding: 0 2em;
   background-color: #ffffff8a;

   box-shadow: 1px 0px 7px  #0000003c;
   //blur
   backdrop-filter: blur(2.5px);
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
   z-index: 5;

   .header-icons{
      .navbar-desktop{
         display: none; //estado inicial
         a{
            text-decoration: none;
            font-size: 1.2em;
            font-weight: 400;
            color: $negro;

         }

         @include desktop(){ //activo
            display: flex;
            align-items: center;
            gap: 2em;
         }
      }
      @include barra();
      // Mediaquerie
      @include tablet(){
         width: 80%;
       }

   }
   img{
      max-width: 5em;
      @include desktop(){
         max-width: 8em;
      }
   }

  @include desktop(){
   height: 64px;
  }
}