@mixin main(){
    @include box-layout();
    gap: 1em;
    width: 100%;
    padding: 1em .8em;
    padding-top: $alt-header;
    text-align: center;


    // Mediaquerie
    @include mobile(){
        background-color: rgb(114, 160, 209)
    }
    .inicio{
      @include inicio();
      width: 100%;
    }
    .direccion{
        @include direccion();
    }
    .docentes{
        @include docentes();
    }
    .form{
        @include form();
    }
}