@mixin main(){
    @include box-layout();
    justify-content: center;
    align-items: center;
    padding: 1em;
    padding-top: $alt-header;
    text-align: center;


    // Mediaquerie - mobil smaller
    // @include mobil-smaller(){
    //     background-color: rgb(209, 162, 114)
    // }
    // Mediaquerie- mobil
    // @include mobil(){
    //     background-color: rgb(119, 158, 159)
    // }
    @include tablet(){
        width: 90%;
        // background-color: rgb(125, 154, 67)
    }
    
    .inicio{
      @include inicio();
      width: 100%;
    }
    .direccion{
        @include direccion();
    }
    .docentes{
        @include docentes();
    }
    .form{
        @include form();
    }
}