@mixin main(){
    @include box-layout();
    justify-content: center;
    padding: 1em;
    padding-top: $alt-header;
    text-align: center;


    // Mediaquerie - mobil smaller
    @include mobil-smaller(){
        background-color: rgb(114, 160, 209)
    }
    // Mediaquerie- mobil
    @include mobil(){
        background-color: rgb(20, 98, 101)
    }
    
    .inicio{
      @include inicio();
      width: 100%;
    }
    .direccion{
        @include direccion();
    }
    .docentes{
        @include docentes();
    }
    .form{
        @include form();
    }
}