@mixin main(){
    @include box-layout();
    gap: 3em;
    width: 100%;
    padding: 1em;
    padding-top: $alt-header;
    text-align: center;


    // Mediaquerie
    @include mobile(){
        background-color: chartreuse
    }
    .inicio{
      @include inicio();
      width: 100%;
    }
    .direccion{
        @include direccion();
    }
    .docentes{
        @include docentes();
    }
    .espacio{
        @include espacio();
    }
    .form{
        @include form();
    }
}