@mixin mobil-smaller {
	@media screen and (min-width: 375px){
			@content;
	}
}
@mixin mobil{
	@media screen and (min-width: 410px){
			@content;
	}
}
@mixin mobil-medium{
	@media screen and (min-width: 500px){
			@content;
	}
}
@mixin tablet{
	@media screen and (min-width: 650px){
		@content;
	}
}