@mixin navbar(){
    .nav-links{
        width: 100%;
        opacity: 0;
        display: flex;
        flex-direction: column;
        gap: 0.3em;
        top: -300%;
        right: 0;
        position: fixed;
        text-align: end;
        background: radial-gradient(circle at top right, $blanco, #ffffffed,  #ffffff00);
        border-bottom: 1px inset $rosa;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        padding: 2em 2.5em;
        text-decoration: none;
        transition: top 0.4s ease;
        li{
            list-style: none;
            a{
                text-decoration: none;
                color: $negro;
            }
        }
    }
    .nav-links.active {
        top: 3.1em ;
        // z-index: -5;
        opacity: 1;
    }
    button{
        font-family: Roboto;
        background-color: transparent;
        border: none;
        padding: .5em 1em;
        cursor: pointer;
        span{
            font-family: Roboto;
            font-size: .8em;
        }
    }
}