@mixin navbar(){
    // display: flex;
    .nav-toggle{
        border: none;
        background-color: transparent;
        color: #4c4c4c;
    }
    span{
        font-size: 1.2em;
    }
    .contain-navbar{
        width: 100%;
        height: 50vh;
        opacity: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        right: -100%;
        top: 0;
        position: fixed;
        text-align: end;
        background-color: $blanco;
        padding: 3em 2.5em;
        text-decoration: none;
        // AGREGA ESTO: Transiciona AMBAS propiedades
        transition: right 0.4s ease-in-out, opacity 0.4s ease-in-out; 
        pointer-events: none; // Evita clics accidentales cuando está oculto
        // transition: right 0.4s ease-in-out;
        .info-navbar{
            text-align: start;
            display: flex;
            flex-direction: column;
            gap: .5em;
            .logo-navbar{
                max-width: 75%;
            }
            .icons-navbar{
                display: flex;
                gap: .3em;
                align-items: center;
                img{
                    width: 1em;
                }
            }
            .p-navbar{
                p{
                    font-size: .7em;
                }
            }
        }
        .nav-links{
            display: flex;
            flex-direction: column;
            gap: .5em;
            li{
                list-style: none;
                line-height: 1em;
                a{
                    text-decoration: none;
                    font-size: 1em;
                    font-family: Roboto;
                    font-weight: 400;
                    color: $negro;
                }
                button{
                    font-family: Roboto;
                    margin-top: 1em;
                    color: #4c4c4c;
                    background-color: transparent;
                    border: none;
                    box-shadow: .8px .5px 5px #78787879;
                    border-radius: 50%;
                    padding: .1em .5em;
                    cursor: pointer;
                }
               
            }
        }
    
    }
    .contain-navbar.active {
        right:0 ;
        opacity: 1;
        pointer-events: auto; // Permite clics cuando está activo
    }
  
    
}