@mixin navbar(){
    .nav-links{
        width: 80%;
        opacity: 0;
        display: flex;
        flex-direction: column;
        gap: 0.3em;
        right: -100%;
        // right: 0;
        position: fixed;
        text-align: end;
        background: radial-gradient(circle at top right, $blanco, #ffffffed,  #ffffff00);
        border-top-left-radius: 50%;
        padding: 2em 2.5em;
        text-decoration: none;
        transition: right 0.4s ease;
        li{
            list-style: none;
            a{
                text-decoration: none;
                font-family: Roboto;
                font-weight: 400;
                color: $negro;
            }
        }
    }
    .nav-links.active {
        right:0 ;
        // z-index: -5;
        opacity: 1;
    }
    button{
        font-family: Roboto;
        background-color: transparent;
        border: none;
        padding: .5em 1em;
        cursor: pointer;
        span{
            font-family: Roboto;
            font-size: .8em;
        }
    }
}