@mixin navbar(){
    .nav-links{
        width: 100%;
        opacity: 0;
        display: flex;
        flex-direction: column;
        gap: 0.3em;
        top: -300%;
        right: 0;
        position: fixed;
        text-align: end;
        // background-color: #ffffffc6;
        // background-image: radial-gradient(to left, $blanco, #ffffff00);
        background: radial-gradient(circle at top right, $blanco, #ffffffc1,  #ffffff00);
        border-bottom: 1px inset $rosa;
        box-shadow: 1px 0px 7px  #00000025;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        padding: 1.5em 2.5em;
        text-decoration: none;
        transition: top 0.4s ease;
        z-index: -5;
        li{
            list-style: none;
            a{
                text-decoration: none;
                color: $negro;
            }
        }
    }
    .nav-links.active {
        top: 3.1em ;
        opacity: 1;
    }
    button{
        font-family: Roboto;
        background-color: transparent;
        border: none;
        padding: .5em 1em;
        cursor: pointer;
        span{
            font-family: Roboto;
            font-size: .8em;
        }
    }
}