@mixin navbar(){
    .nav-links{
        width: 100%;
        // height: 100dvh;
        display: flex;
        flex-direction: column;
        gap: 0.3em;
        right: -100%;
        text-align: end;
        background-color: $blanco;
        box-shadow: 1px 0px 7px  #00000052;
        position: fixed;
        padding: 1.5em 2.5em;
        top: $alt-header;
        text-decoration: none;
        transition: right 0.4s ease;
        li{
            list-style: none;
            a{
                text-decoration: none;
                color: $negro;
            }
        }
    }
    .nav-links.active {
        right: 0;
    }
    button{
        font-family: Roboto;
        background-color: transparent;
        border: none;
        padding: .5em 1em;
        cursor: pointer;
        span{
            font-family: Roboto;
            font-size: .8em;
        }
    }
}