@mixin direccion(){
  @include box-layout();
  align-items: center;
  padding: 2em 1em;
  // box-shadow: 1px 0px 7px  #00000052;
  h2{
    @include font-title-seccion();
  }
  p{
    @include font-parr-seccion();
  }
  .contain-img-btnvermas {
  position: relative; /* ¡Fundamental! Es la base del botón */
  width: fit-content; /* El contenedor se ajusta al tamaño de la imagen */
  overflow: hidden;   /* Por si quieres efectos de bordes redondeados */
  border-radius: 12px;
    .img-direc{
      display: block;
      max-width: 100%;
      height: auto;
    }
    .capa-texto{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7); // Fondo negro con 70% de opacidad
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: .5em;
      gap: .5em;
      // estado oculto
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.4s ease;
      &.activo {
        opacity: 1;
        visibility: visible;
      }
      
      p{
        font-style: normal;
        font-size: .5em;
        text-wrap: balance;
      }
      .btn-cerrar-overlay{
        z-index: 2;
        position: absolute;
        right: 1em;
        bottom: .5em;
        font-family: Roboto;
        font-size: 1.1em; 
        color: $blanco;
        background-color: transparent;
        border: none;
        box-shadow: 1px 1px 1px #fff;
        border-radius: 50%;
        padding: .1em .5em;
        cursor: pointer;
      }
    }
    .btn-vermas{
      position: absolute; 
      bottom: 5%;           
      right: 5%;          
      padding: .3em .5em;
      color: $rosa;
      border: none;
      background-color: $blanco;
      cursor: pointer;
      border-radius: 50px;
    }
  }
   
}