@mixin docentes(){
  display: flex;
  flex-direction: column;
  padding: 2em;
  gap: 2em;
  h2{
    @include font-title-seccion();
  }
  .profe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    .profe-info{
      // width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      p{
        font-family: Roboto;
        font-size: 10px;
        text-wrap: balance;
      }
      p:nth-child(1){
        font-weight: 600;
        font-size: 14px;
      }
      
      p:nth-child(2){
        color: rgb(45, 45, 45);
      }
      p:nth-child(3){
        margin-top: 1em;
        font-size: 11px;
        @include mobil-medium(){
          font-size: 12px;
        }
      }
      // Mediaquerie del profe-info
      @include mobil-smaller(){
        align-items: start;
      }
      @include tablet(){
        max-width: 40%;
      }
      @include desktop(){
        max-width: 30%;
      }
    }
    // Mediaquerie profe
    @include mobil-smaller(){
      flex-direction: row;
      text-align: start;
      align-items: start;
    }
  }
}