@mixin form(){
  @include box-layout();
  align-items: center;
  padding: 0;
  .form_title{
    text-align: center;
    h3{
    font-style: italic;
    font-family: Playfair;
    font-weight: 400;
    font-size: 1.4em;
    @include desktop(){
      font-size: 2em;
    }
    }
    p{
      font-family: Roboto;
      font-size: .6em;
      font-style: italic;
      @include desktop(){
        font-size: 1em;
      }
      
    }
    // background-color: rgb(208, 173, 203);
  }
  .chat{
   
      border: .5px solid  #ffffff91;
      padding: .5em .8em;
      border-radius: 12px;
      box-shadow: 1px 0px 8px  #00000052;

      a{
        cursor: pointer;
        text-decoration: none;
        button{
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 1em;
          border: none;
          background-color: transparent;
          p{
            font-family: Roboto;
            color: $blanco;
            margin-bottom: 0;
            font-weight: 600;
          }
        }
      }
  }
}