@mixin form(){
  @include box-layout();
  align-items: center;
  padding: 2em 0;
  // box-shadow: 1px 0px 7px  #00000052;
  .form_title{
    text-align: center;
    h3{
    font-style: italic;
    font-family: Playfair;
    font-weight: 400;
    font-size: 1.3em;
    }
    p{
      font-family: Roboto;
      font-size: .5em;
      font-style: italic;
      
    }
    // background-color: rgb(208, 173, 203);
  }
  .text_inputs{
    width: 90%;
    display: flex;
    gap: .7em;
    // padding: 0 2em;
    // width: 700px;
    // background-color: rgb(11, 46, 200);
    textarea{
      width: calc(50% - 4px);
      padding: .3em 1em;
      border-radius: 1em;
      border: none;
      font-size: .5em;

    }
    .inputs{
      // @include box-layout;
      display: flex;
      flex-direction: column;
      width: calc(50% - 4px);
      gap: .5em;
      align-items: center;
      input{
        width: 100%;
        padding: 0.5em 1em;
        border: none;
        border-radius: 1em;
        font-size: 0.5em;
      }
      button{
        font-family: Roboto;
        font-weight: 400;
        font-size: .5em;
        padding: .5em 4em;
        background-color: $negro;
        color: $blanco;
        cursor: pointer;
        border-radius: 30px;
      }
      
    }
  }      
}