@mixin form(){
  @include box-layout();
  align-items: center;
  // padding: 2em;
  box-shadow: 1px 0px 7px  #00000052;
  .form_title{
    text-align: center;
    h3{
      // font-size: 2em;
      font-style: italic;
    }
    p{
      // font-size: 1.3em;
      color: blue;
    }
    // background-color: rgb(208, 173, 203);
  }
  .text_inputs{
    max-width: 100%;
    display: flex;
    gap: .5em;
    // padding: 0 2em;
    // width: 700px;
    // background-color: rgb(11, 46, 200);
    textarea{
      width: calc(50% - 4px);
      padding: .3em 1em;
      border-radius: 1em;
      border: none;
      font-size: .5em;

    }
    .inputs{
      @include box-layout;
      width: calc(50% - 4px);
      gap: .5em;
      align-items: center;
      input{
        max-width: 100%;
        padding: .3em 1em;
        border: none;
        border-radius: 1em;
        font-size: .5em;
      }
      button{
        font-size: .5em;
        padding: .5em;
        background-color: $negro;
        color: $blanco;
        cursor: pointer;
        border-radius: 30px;
      }
      
    }
  }      
}