@mixin inicio(){
  @include box-layout();
  align-items: center;
  padding: 2em 1em;
  h1{
    @include font-title();
  }
  p{
    @include desktop(){
      width: 70%;
    }
  }  
    video{
      background-color: aliceblue;
      // max-width: 90%;
    }
}