@mixin inicio(){
  @include box-layout();
  align-items: center;
  padding: 2em 0em 0em;
  h1{
    @include font-title();
    padding: 0 2em;
    @include desktop(){
      font-size: 2em;
    }
  }
  img{
    width: 90%;
  }
  video{
    width: 100%;
  }
//   .carrusel{
    
   
// // Fin del carrusel
// }


  // Fin del carrusel
  p{
    font-size: 14px;
    padding: 0 2em;
    margin-bottom: 0;
    @include desktop(){
      width: 70%;
    }
  }  
}