@mixin inicio(){
  @include box-layout();
  align-items: center;
  padding: 2em 0em 0em;
  h1{
    @include font-title();
    padding: 0 2em;
    @include desktop(){
      font-size: 2em;
    }
  }
  img{
    width: 90%;
  }
  video{
    width: 100%;
  }

  
  .carrusel{
// --- VARIABLES DE COLOR ---
$color-fondo-boton: rgb(0, 0, 0); // Blanco con transparencia
$color-flecha: #000; // Rojo (o el color que prefieras)
$color-fondo-hover: rgba(0, 0, 0, 0.5);

#customSlider {
  .carousel-item{
    .slide-wrapper{
      .text-box{
        p{
          margin-top: 1em;
          line-height: normal;
        }
      }
    }
  }
  // 1. Estilo del botón (el contenedor)
  .carousel-control-prev,
  .carousel-control-next {
    background-color: transparent; // Por defecto transparente
    border: none;
    
    // Si quieres un círculo o cuadrado de color alrededor de la flecha:
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
      background-color: $color-fondo-boton; // El color del fondo del botón
      border-radius: 50%; // Esto lo hace circular
      padding: 20px;      // Tamaño del fondo
      background-size: 50% 50%; // Tamaño de la flecha dentro del fondo
      transition: background-color 0.3s ease;
    }

    &:hover .carousel-control-prev-icon,
    &:hover .carousel-control-next-icon {
      background-color: $color-fondo-hover;
    }
  }

  // 2. Cambiar el color interno de la flecha (Técnica de Máscara)
  // Esta es la forma más moderna de cambiar el color de un SVG sin líos
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    // Quitamos la imagen por defecto de Bootstrap
    background-image: none !important; 
    
    // Usamos la misma flecha como máscara y le damos color con background-color
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
    background-color: $color-flecha; // AQUÍ DEFINES EL COLOR DE LA FLECHA
  }

  .carousel-control-prev-icon {
    -webkit-mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
    mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
  }

  .carousel-control-next-icon {
    -webkit-mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  }
}




// Fin del carrusel
}


  // Fin del carrusel
  p{
    font-size: 14px;
    padding: 0 2em;
    margin-bottom: 0;
    @include desktop(){
      width: 70%;
    }
  }  
}